body{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin:  100px;
}

.container{

    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    padding: 25px;
}

input{
    border-radius: 5px;
    width: 200px;
    height: 25px;
    margin-bottom: 10px;
}

button{
    background-color: blueviolet;
    border-radius: 5px;
    width: 100px;
    height: 35px;
    color: white;
}