body{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    display: flex;
}

.container{

    border: solid black 1px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;
    align-items: left;
    max-width: 500px;
    max-height: 300px;
    padding: 25px;
}