@model MVC_KullaniciBilgileriProject.Models.KullaniciBilgiModel


<h2>Girilen Bilgiler</h2>

<p><Strong>Ad: </Strong>@Model.Ad</p> <!--Model'in barındırdığı Ad değerini p'ye yazdırdık-->
<p><strong>Soyad: </strong>@Model.Soyad</p> <!--Model'in barındırdığı Soyad değerini p'ye yazdırdık-->
<p><strong>Yaş: </strong>@Model.Yaş</p> <!--Model'in barındırdığı Yaş değerini p'ye yazdırdık-->