body{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.container{
    border: solid 1px black;
    padding: 30px;
    background-color: beige;
    border-radius: 5px;
    box-shadow: 1px 3px 4px;
}

.form{
    border: solid 1px gray;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 25px;
    text-align: left;
    justify-content: left;
    align-items: left;
    border-radius: 5px;
    margin-bottom: 5px;
}

button{

    margin-top: 20px;
    border-radius: 5px;
    width: 125px;
    height: 25px;
    background-color: chartreuse;
    color: black;
    box-shadow: 1px 2px;
}

button:hover{
    cursor: pointer;
    background-color: green;
    color: whitesmoke;
    box-shadow: 1px 2px 3px;
}

.cevap{

    color: blue;
}

#dogrusayisi{

    color: green;
}

#yanlissayisi{
    color: red;
}

#bossayisi{
    color: gray;
}


